@model Negocio.Cita
@{
    ViewBag.Title = "Form";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Cita</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Paciente</h3>
        </div>
    </div>

    <div class="row">
        <div class="row g-2">
            @using (Html.BeginForm("Form", "Cita", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="form-group row mb-3">

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.paciente.Nombre)
                        <div class="input-group md-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-info" style="color: midnightblue"></i></span>
                            @Html.TextBoxFor(model => model.paciente.Nombre, new { @class = "form-control", @id="txtNombre"})
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.paciente.ApellidoPaterno)
                        <div class="input-group md-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-info" style="color: midnightblue"></i></span>
                            @Html.TextBoxFor(model => model.paciente.ApellidoPaterno, new { @class = "form-control", @id="txtApellidoPaterno" })

                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.paciente.ApellidoMaterno)
                        <div class="input-group md-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-info" style="color: midnightblue"></i></span>
                            @Html.TextBoxFor(model => model.paciente.ApellidoMaterno, new { @class = "form-control", @id="txtApellidoMaterno" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.paciente.FechaNacimiento)
                        <div class="input-group md-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-info" style="color: midnightblue"></i></span>
                            @Html.TextBoxFor(model => model.paciente.FechaNacimiento, new { @class = "form-control", @id="txtFechaNacimiento"})
                        </div>
                    </div>

                </div>
                <div class="form-group row mb-3">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.paciente.Peso)
                        <div class="input-group md-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-info" style="color: midnightblue"></i></span>
                            @Html.TextBoxFor(model => model.paciente.Peso, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.paciente.Altura)
                        <div class="input-group md-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-info" style="color: midnightblue"></i></span>
                            @Html.TextBoxFor(model => model.paciente.Altura, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model=> model.paciente.Foto)

                        <div class="input-group col-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-card-image"></i></span>
                            <input id="IFImagen" type='file' class="form-control" name="IFImagen" onchange="validateFile(this), readURL(this)" />
                        </div>
                        <div class="row d-flex justify-content-center pt-3">
                            @if (Model.paciente.Foto != null && Model.paciente.Foto != "")
                            {
                                <img id="ImgPrevia" src="data:image/*;base64,@Model.paciente.Foto" style="width:96px" class="align-self-center" />
                            }
                            else
                            {
                                <img id="ImgPrevia" src="~/Imagenes/usuario.png" style="width:96px" class="align-self-center" />
                            }

                            @Html.HiddenFor(model => model.paciente.Foto)
                        </div>
                    </div>

                </div>

                <div class="row mt-2">
                    <div class="col-md-12">
                        <hr />
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Detalle)
                        <div class="input-group md-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-info" style="color: midnightblue"></i></span>
                            @Html.TextAreaFor(model => model.Detalle, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Fecha)
                        <div class="input-group md-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-info" style="color: midnightblue"></i></span>
                            @Html.TextBoxFor(model => model.Fecha, new { @class = "form-control", @id="txtFecha" })
                        </div>
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.doctor)
                        <div class="input-group md-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-people-fill" style="color: midnightblue"></i></span>
                            @Html.DropDownListFor(model => model.doctor.IdDoctor, new SelectList(Model.doctor.doctores, "IdDoctor", "NombreCompleto"), "Seleccione una opción", new { @class = "form-control" })
                        </div>
                    </div>

                </div>


                <div class="form-group">
                    <div class="col-md-3 pt-3">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        @Html.ActionLink("Regresar", "Index", "Cita", htmlAttributes: new { @class = "btn btn-danger" })
                    </div>
                </div>


            }
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<script type="text/javascript">

        $(function () {
            $("#txtFechaNacimiento").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
            });
        });

        $(function () {
            $("#txtFecha").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
            });
        });

        function validateFile() {
            var allowedExtension = ['png', 'jpg'];
            var fileExtension = document.getElementById('IFImagen').value.split('.').pop().toLowerCase();
            var isValidFile = false;
            for (var index in allowedExtension) {
                if (fileExtension === allowedExtension[index]) {
                    isValidFile = true;
                    break;
                }
            }
            if (!isValidFile) {
                alert('Las extensiones permitidas son : *.' + allowedExtension.join(', *.'));
                document.getElementById('IFImagen').value = ""
            }
            return isValidFile;
        }
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#ImgPrevia')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}