@model Negocio.Cita
@{
    ViewBag.Title = "Cita";
}

<div class="container">
    <h2>Cita</h2>
    <hr />
    <!--Boton agregar-->
    <div class="row">
        <div class="col-md-12 col-sm-3">
            @Html.ActionLink("Agregar", "Form", "Cita", htmlAttributes: new { @class = "btn btn-success" })
        </div>
    </div>
    <hr />
</div>


<div class="row m-0" style="padding-top:30px">
    <div class="row m-0">
        <table class="table table-dark table-striped table-responsive" id="tblcita">
            <thead>
                <tr>
                    <th class="text-center" scope="col">
                        Doctor
                    </th>
                    <th class="text-center" scope="col">
                        Paciente
                    </th>
                    <th class="text-center" scope="col">
                        Detalle
                    </th>
                    <th class="text-center" scope="col">
                        Fecha
                    </th>
                    <th class="text-center" scope="col">
                        Eliminar
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Negocio.Cita cita in Model.citas)
                {
                    <tr>
                        <td class="text-center col-3 align-middle">
                            @cita.doctor.Nombre @cita.doctor.ApellidoPaterno @cita.doctor.ApellidoMaterno
                        </td>
                        <td class="text-center col-3 align-middle">
                            @cita.paciente.Nombre @cita.paciente.ApellidoPaterno @cita.paciente.ApellidoMaterno
                        </td>
                        <td class="text-center col-2 align-middle">
                            @cita.Detalle
                        </td>
                        <td class="text-center col-3 align-middle">
                            @cita.Fecha
                        </td>
                        <th class="text-center align-middle">
                            <a class="btn btn-danger bi bi-trash" href="@Url.Action("Delete", "Cita", new { IdCita = cita.IdCita })" onclick="return confirm('¿Estas seguro que deseas eliminar este registro?');"></a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.13.1/r-2.4.0/sp-2.1.0/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.13.1/r-2.4.0/sp-2.1.0/datatables.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#tblcita').DataTable({
                deferRender: true,
                scrollY: 200,
                scrollCollapse: true,
                scroller: true
            });
        });
    </script>
}

